services:
  traefik:
    image: traefik:v2.11
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    networks:
      - app-network

  # frontend:
  #   build:
  #     context: ./front
  #     dockerfile: Dockerfile
  #   restart: unless-stopped
  #   volumes:
  #     - ./front:/app
  #     - /app/node_modules
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.frontend-router.entrypoints=web"
  #     - "traefik.http.routers.frontend-router.rule=PathPrefix(`/`)"
  #     - "traefik.http.routers.frontend-router.priority=1"
  #     - "traefik.http.services.frontend-service.loadbalancer.server.port=4000"
  #   networks:
  #     - app-network
  #   depends_on:
  #     - traefik


  database:
    image: postgres:16-alpine
    container_name: database
    restart: unless-stopped
    ports:
      - "5432:5432"
    volumes:
      - ./back/app/database/data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - ./back/app/my_redis/redis.conf:/usr/local/etc/redis/redis.conf:ro
    command: redis-server /usr/local/etc/redis/redis.conf
    networks:
      - app-network

  api:
    build:
      context: ./back
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - ./back:/app
    ports:
      - "8000:8000"  # Expose port 8000 for local development WebSocket connections
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api-router.entrypoints=web"
      - "traefik.http.routers.api-router.rule=PathPrefix(`/api`)"
      - "traefik.http.routers.api-router.priority=10"
      - "traefik.http.services.api-service.loadbalancer.server.port=8000"
    networks:
      - app-network
    depends_on:
      - traefik
      - redis

networks:
  app-network:
    driver: bridge